{% extends "base.html" %}
{% block body %}
<!-- Header -->
<header class="masthead d-flex" >
  <div class="container text-center my-auto">
    <h1 class="mb-1" style="color: #fde900">Cadê o Professor?</h1>
    <h3 class="mb-5" style="color: #fff">
      <em>Quer experimentar??? É mais fácil que SO.</em>
    </h3>
    <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Entre e confira!</a>
  </div>
  <div class="overlay"></div>
</header>
<!-- LOGIN -->
<section class="callout">
  <div class="container text-center">
    <h2 class="mx-auto mb-5">Aqui entra o formulário e o cadastro com javascript</h2>
  </div>
      <form class="form-horizontal" method="POST" action="{{url_for('cadastro_usuario')}}">
        <div class="form-group">
          <label class="control-label col-sm-2" for="nome">Nome:</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="nome" name="nome">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="email">Email:</label>
          <div class="col-sm-4">
            <input type="email" class="form-control" id="email" name="email">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="pwd">Senha:</label>
          <div class="col-sm-4"> 
            <input type="password" class="form-control" id="pwd" name="senha">
          </div>
        </div>

        <div class="form-group"> 
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Submit</button>
          </div>
        </div>
      </form>
</section>
{% endblock %}
    

   